body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #678;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #235788;
}

#discovery-a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
    background-color: #678;
}

#discovery-a :hover{
    background-color: #000;
}

/*
.discovery-main-div{
    display: none;
}*/
